variables:
  CI_DESIGNATED_BRANCH: prplwrt-19.07

include:
  - local: .gitlab/build.yml
  - local: .gitlab/docker.yml
  - local: .gitlab/docker/builder/gitlab.yml
  - local: .gitlab/docker/testbed/gitlab.yml
  - local: .gitlab/docker/sdk/gitlab.yml
  - local: .gitlab/testbed.yml
  - local: .gitlab/testbed/nec-wx3000hp.yml
  - local: .gitlab/testbed/glinet-b1300.yml
  - local: .gitlab/testbed/turris-omnia.yml

stages:
  - docker
  - docker test
  - docker deploy
  - build
  - docker SDK
  - docker SDK test
  - docker SDK deploy
  - run

build test intel_mips prpl webui:
  extends: .build test config

build test ipq40xx prpl webui:
  extends: .build test config

build test mvebu prpl webui:
  extends: .build test config

run test NEC WX3000HP with system on NAND:
  dependencies:
    - build test intel_mips prpl webui
  extends: .nec-wx3000hp testbed

run test Gl.iNet B1300 with system on initramfs:
  dependencies:
    - build test ipq40xx prpl webui
  extends: .glinet-b1300 testbed

run test Turris Omnia with system on initramfs:
  dependencies:
    - build test mvebu prpl webui
  extends: .turris-omnia testbed
  variables:
